{% load static %}
<nav id="top-menu">
	<div id="top-navbar">
		<!-- <img id="logo" src="{% static img %}"> -->
		
		<div id="logo-wrapper">
			<div id="logo"></div>
		</div>

		<div id="block-menu-wrapper">
			<div id="block-menu">
				<div id="project-title">
					<input type="text" value="Имя проекта">
				</div>
				<div id="list-menu">
					<div>
						<div>Файл</div>
					</div>
					<div>
						<div>Правка</div>
					</div>
					<div>
						<div>Редактор</div>
					</div>
				</div>
			</div>
		</div>

		<div id="recording-block-wrapper">
			<div id="recording-block">
				<div id="timer">00:00</div>
				<div id="recording-btn" class="start"></div>
				<div id="recording-volume"></div>
			</div>
		</div>

		<div id="size-set-wrapper">
			<div id="size-set">
				<div>
					<div>
						<img src="{% static 'musicToNotes/img/plus.png' %}">
					</div>
					<input type="range" min="20" max="200" oninput="" value="75">
					<div>
						<img src="{% static 'musicToNotes/img/plus.png' %}">
					</div>
				</div>
				<div>
					<div>
						<img src="{% static 'musicToNotes/img/plus.png' %}">
					</div>
					<input type="range" min="20" max="200" oninput="" value="75">
					<div>
						<img src="{% static 'musicToNotes/img/plus.png' %}">
					</div>
				</div>
			</div>
		</div>

		<div id="profile-wrapper">
			<div id="profile">
				
			</div>
		</div>
	</div>
</nav>