{% extends 'musicToNotes/settings_size.html' %}
{% load static %}

{% block start_js %}
	{{ block.super }}


	<script type="text/javascript" src="{% static 'musicToNotes/js/all_svg.js' %}"></script>
	<script type="text/javascript" src="{% static 'musicToNotes/js/variables.js' %}"></script>
	<script type="text/javascript">
		json_arr = {{ data|safe }}
	</script>
	<script type="text/javascript" src="{% static 'musicToNotes/js/module_circle_menu.js' %}"></script>
	<script type="text/javascript" src="{% static 'musicToNotes/js/editor_stana.js' %}"></script>
	<script type="text/javascript" src="{% static 'musicToNotes/js/editor_note.js' %}"></script>
	<script type="text/javascript" src="{% static 'musicToNotes/js/editor_key.js' %}"></script>
	<script type="text/javascript" src="{% static 'musicToNotes/js/editor_dimension.js' %}"></script>
	<script type="text/javascript" src="{% static 'musicToNotes/js/create_circle_menu.js' %}"></script>
	<script type="text/javascript" src="{% static 'musicToNotes/js/hotkey.js' %}"></script>


{% endblock %}

{% block start_css %}
	{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'musicToNotes/css/y_pos.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'musicToNotes/css/main.css' %}">
	<style type="text/css" id="style-for-pos_y-of-notes"></style>
	<style id="style-size" type="text/css">
		.columns-notes{
			min-width: 75px;
			height: 225px;
		}
		.note > svg{
			top: -48px;
		}
	</style>
	<style type="text/css" id="style-tact-after"></style>
{% endblock %}

{% block main_content %}
	<div id="place-for-circle-menu"></div>

	<div id="main">
		<div id="main2">
		</div>
	</div>
{% endblock %}

{% block settings_size %}
	{{ block.super }}
	<div id="place-for-leagues"></div>
{% endblock %}

{% block end_js %}
	{{ block.super }}
	<script src="{% static 'musicToNotes/js/events.js' %}"></script>
	<script type="text/javascript">
		$(document).keydown(function(event){
			if (ctrl && event.keyCode == 83){
				html_to_json()
				data = {
					'id': {{ id }},
					'data': JSON.stringify(json_arr),
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				}
				$.ajax({
					type: "POST",
					url: "{% url 'save_project' %}",
					data: data,
					success: function(data){
						alert("success")
					}
				})
			}
		})
	</script>
{% endblock %}