<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>{% block title %}Стандартрный заголовок{% endblock %}</title>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Bootstrap -->
	 
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	
	 <link rel="stylesheet" type="text/css" href="{% static 'musicToNotes/css/base.css' %}">
	{% block start_js %}{% endblock %}
	{% block start_css %}{% endblock %}
</head>
<body>
	{% block header_menu %}{% endblock %}

	{% block main_content %}{% endblock %}

	{% block settings_size %}{% endblock %}

	{% block footer %}{% endblock %}

	{% block end_css %}{% endblock %}
	{% block end_js %}{% endblock %}
</body>
</html>